<turbo-frame id="<%= dom_id(post, :reactions) %>">
  <div class="flex items-center px-1">
    <div class="flex items-center gap-2">
      <i class="fas fa-thumbs-up text-white"></i>
    </div>

    <div class="flex items-center gap-2">
      <i class="fas fa-thumbs-down text-white"></i>
    </div>
  </div>
</turbo-frame>
